
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
      *{
          font-family: 'Poppins', sans-serif;
          margin: 0%;
          padding: 1%;
          box-sizing: border-box;
          scroll-behavior: smooth;
      }
     p #home
      {
          text-decoration: none;
          right: 0;
          font-size: 5PX;
      }
    .univ
    {
        z-index:-1 ;
        opacity: 10%;
        position:absolute;
        height: 90%;
        width: auto;
        right:30% ;
        top: 2%;

    }
    
       
      p{
          margin-left: 40%;
          font-size: 30px;
          top: 0;
          
      }
      .a
      {
      margin-top: 5%;
      margin-left: 5%;
      height: 40%;
      width :300px;
      position: absolute;
      z-index: -1;
      background-color: #2A9D8F;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9a/Teaching_icon.png);
      border-radius: 4%;
      background-size: 250px;
      background-repeat: no-repeat;
      background-position-x:30% ;
      background-position-y: 80%;
      text-align: center;
      transition: 0.7s ease; 
      }
      .b
      {
        margin-top: 5%;
      margin-left: 35%;
      height: 40%;
      width :330px;
      z-index: -1;
      position: absolute;
      background-color: #c3d1ec;
      background-image: url(https://cdn3.iconfinder.com/data/icons/hr-recruitment-management-part-2/400/Popular-11-512.png);
      border-radius: 4%;
      background-size: cover;
      Text-align: center;
      transition: 0.7s ease; 
      }
      .c
      {
        margin-top: 5%;
      margin-left: 65%;
      height: 40%;
      width :300px;
      position:absolute;
      z-index: -1;
      background-color: #773e39a5;
      background-image: url(admin.png);
      border-radius: 4%;
      background-size: 150px;
      Text-align: center;
      transition: 0.7s ease;
      background-position-x:50% ;
      background-position-y: 60%; 
      background-repeat: no-repeat;
      }
      .b:hover
      {
          transform : scale(1.1);
          background-color:  #b5c6e7;
          
          
      }
    
      .a:hover
      {
          transform : scale(1.1);
          background-color: #157066;
      }
      .c:hover
      {
          transform : scale(1.1);
          background-color: #d5a79c;
      }
      div span
      {
          color : white; 
          font-size: 30px;
          
      }
      footer
      {
          width: 97%;
          height: 6px;
          bottom: 0%;
          padding-bottom: 2%;
          padding-top: 0%;
          background-color: rgb(41, 39, 39);
          color: aliceblue;
          text-align: center;
          display: block;
          margin: auto;
          word-spacing: 20px;
          position: fixed;
          font-size: 12px;
      }
    