@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/technology');
@import url('http://fonts.cdnfonts.com/css/skuare');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}


nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  position:sticky;
  top: 0;
  background-color: #0e0d0d;
  padding: 10px 0px;
}
nav .menu{
  display:flex;
  flex-wrap:wrap;
  margin-top: 5px;
}
nav .menu{
  display:flex;
  flex-wrap:wrap;
}
nav .menu a {
  margin-right: 20px;
  cursor:pointer;
}
h1 { font-size: 2em;
      margin: 300px 0px 0px 150px; 
      position: absolute;   
      color: rgb(52, 194, 212);
      z-index: 10;     
      font-weight: 500;
      filter: drop-shadow(5px 5px 5px #222);
     font-family:  'Technology', sans-serif;
      transform: rotate(0deg);         
}
h1 span .txt-rotate{
  color: rgb(37, 132, 145);
  font-size: 1.5em;font-family: 'skuare', sans-serif;
}


ul{
  list-style: none;
  right: 0;
  margin-right: 5%;
  position:absolute;
  z-index: 9;
}
ul li
{
  float: left;
  padding: 20px ;
  text-align: center;
  list-style: none;
  
}
ul li:hover ul
{
  display: block;

}
ul li a{
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;

}
a:hover
{
  background-color:#fff;
  color: #202020;

}
ul li ul li 
{
  float: none;
  z-index: 99;
}
.ins
{
  width: auto;
  margin: 0;
  margin-top: 20px;
  float: none;
  display: none;
  padding: 0%;
  background-color: rgba(19, 19, 19, 0.034);
  border-radius: 10%;
}
.title img
{
  height: 200PX;
  color: #fff;
  margin-bottom: 60PX;
  margin-top: 5%;
  text-decoration: none;
}


.img{
  /*background: url('laptop.jpg')no-repeat;*/
  /*background: url('https://cdn.wallpapersafari.com/72/37/D54KiI.jpg')no-repeat;*/
  background: url('aze.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
 filter: brightness(0.30);
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 40px;
  font-weight: 600;
 }
  img
{
  height: 150PX;
  width:auto ;
  display: block;
  margin: auto;
  filter: drop-shadow(5px 5px 5px #222);
}
img:hover
{
  transform : scale(1.1);
}
.sub_title{
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 1%;
  margin:0 300px ;
  
}
.center .btns{
  margin-top: 20px;

}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background:none;
}
.btns button:first-child:hover
{
  background: white;
  color: black;
}
header
{
  bottom:0;
  height: 10em;
  width: 100%;
  background-color: #202020;
  color: #fff;
  margin-top: 50px;
  padding: 10px;
}
header span
{position: absolute;
  margin-left: 45%;
  position: absolute;
  font-size: 10px;
}
#OD ul  {
  display: block;
  position:static ;
  margin-bottom: 300px;
}
footer{
  background-color: #1a1a1a;
  padding: 25px 100px;
  color:#828282;

}
footer .colonnes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#az{
  text-decoration: none;
  color:#828282;
}
#aa{
  text-decoration: none;
  color:#828282;
  font-style: oblique;
 margin-left: 12cm;

}
