@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

header
{
    height: 90px;
    width: 100%;
    background-color: #264653;
}
fieldset
{
    margin:7% 2% 0% 2% ;
    width: 96%;
    border-radius: 20px;
    height: 200px;
    padding: 20px;
    
}

#rest 
{   top:100px;
    left: 0%;
    background-color: green;
    color: white;
    margin-right: 30%;
    border-radius: 100px;
    position: absolute;
    width: 150PX;
    height: 50PX;
    text-align: center;
    border: none;
    display: block;
}
#date
{
    top:100px;
    left: 200PX;
    position: absolute;
    width: 250PX;
    height: 50PX;
    background-color: transparent;
    color :black;
    border-radius: 10px;
}
header input
{
    background-color: #365e6e;
    font-size: 15px;
    float :left ;
    padding: 10px;
    margin: 15px 0 0 5px;
    text-align: center;
    border: none;
    border-radius: 100px;
    color: white;
}

header input:hover 
 {
     background-color:aliceblue ;
     color: #264653;
 }
 fieldset legend   {
    padding: 20px;
    margin-left : 20px;
    padding :0 10PX;
    text-align: center;
}
fieldset img
{
    height: 25px;
    width: auto;
}
#deconnection
{
    position: absolute;
    RIGHT: 10PX;
    border-style: solid;
    border-color: black;
    border-width: 1px;

}
#deconnection:hover
{
    background-color: rgba(177, 42, 42, 0.788);
    color: aliceblue;
}
#Retour
{
    position: absolute;
    right: 90px;
    margin-top: 50px;
    background-color: aliceblue;
    font-size: 15px;
    padding: 5PX 20px;
    text-align: center;
    border: none;
    border-radius: 100px;
}
#Retour:hover
{
    background-color: black;
    color: aliceblue;
}
header + p{
    margin: 80PX 0 0 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-left: 5px solid;
    border-color: #2A9D8F;

}
form table {
    border: 1px;
    border-color: black ;
    color: black;
    background-color: rgb(186, 189, 189);
    padding :20px;
    align-items: center;
    border-radius: 20PX;
}
section 
{
    text-decoration: none;
}
#prof
{
    margin-left: 40%;
    
}
header img
{
    height: 80PX;
    align-items: center;
    left: 0%;
    LEFT: 10PX;
    position: absolute;
}
td input , td select
{
    border: none;
    background-color: #f5f5f5;
    width: 100%;
}