        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
      body{
          font-family: 'Poppins', sans-serif;
          margin: 0%;
          box-sizing: border-box;
          scroll-behavior: smooth;
          
      }
      h1 { font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 30px; font-weight: bold; 
      text-align: center;
      margin-top: 50px;
      }
      fieldset
      {
          margin:5% 2% 0% 2% ;
          width: 90%;
          border-radius: 20px;
          height: 300px;
          
      } 
      
      table
{
  background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 1500px;
  border-radius: 10px 10px 0 0 ;
  overflow: hidden;
  
}	

th {
	background-color: #044e93;
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
  PADDING:15PX;
  
}
td {
	border: 1px solid #fff;
	padding: 10px 15px;
	position: relative;
}

      #sub:hover 
      {
        background-color:rgb(92, 25, 179);
      }
   
      header
      {
          height: 80px;
          width: 100%;
          background-color: #166dc5;
      }
      header input , header a input 
      {
          background-color: #1c4f7f;
          font-size: 15px;
          float :left ;
          padding: 15px;
          margin-left: 10px;
          margin-top:10px;
          border: none;
          border-radius: 50px;
          color: white;
      }
#sub
{
  background-color: #166dc5;
  color: white;
  text-align: center;
  padding: 10PX 15px;
  font-size: 12PX;
  right: 20px;
  position: absolute;
  border-radius: 10px;
  margin-bottom: 100PX;
  border: none;
}
#sub:hover
{
  background-color: #eeeaea;
  color: #166dc5;
}
header input:hover 
 {
     background-color:aliceblue ;
     color  :#0e3a63;
 }
#deconnection
{
    position:absolute;
    RIGHT: 10PX;
}
#deconnection:hover
{
    background-color: rgb(155, 0, 0);
    color: aliceblue;
}
#Retour
{
    position: absolute;
    right: 90px;
    margin-top: 50px;
    background-color: aliceblue;
    font-size: 15px;
    padding: 5PX 20px;
    text-align: center;
    border: none;
    border-radius: 100px;
}
#Retour:hover
{
    background-color: black;
    color: aliceblue;
}
#logo
{
    height: 60px;
    width: auto;
    margin-top: 0 0 0 0;
    left: 0;
    position: absolute;
}
h1 + p
{
  
    margin: 80PX 0 0 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-left: 5px solid;
    border-color: #2A9D8F;

}
#logo
{
    height: 60px;
    width: auto;
    margin-top: 0 0 0 0;
    left: 0;
    position: absolute;
}
#delais ,#delais-le
{
  width: 200PX;
  height: 50PX;
  margin: auto;
  margin: 40PX 10PX;
  padding-left:10PX ;
}
#delais-le
{
  BORDER-left  : 5px solid #07233d;
}
#prof
{
    margin-left: 40%;
}
header img
{
    height: 80PX;
    align-items: center;
    left: 0%;
    LEFT: 10PX;
    position: absolute;
}
