@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header
{
    height: 80px;
    width: 100%;
    background-color: #166dc5;
}
header + p
{   
    margin-left: 0%;
    text-align: left;
    padding-left: 10px;
    border-left:solid 6px #166dc5;
}
fieldset
{
    margin:5% 2% 0% 2% ;
    width: 96%;
    border-radius: 20px;
    height: 400px;
    
}
header input , header a input
{
    background-color: #1c4f7f;
    font-size: 15px;
    float :left ;
    padding: 15px;
    margin-left: 10px;
    margin-top:10px;
    text-align: center;
    border: none;
    border-radius: 50px;
    color: white;
}
header input:hover 
 {
     background-color:aliceblue ;
     color :#07233d;
 }
 fieldset legend   {
    padding: 20px;
    margin-left : 20px;
    padding :0 10PX;
    text-align: center;
}
fieldset img
{
    height: 25px;
    width: auto;
}
#deconnection
{
    position:absolute;
    RIGHT: 10PX;
}
#deconnection:hover
{
    background-color: rgb(155, 0, 0);
    color: aliceblue;
}
#Retour
{
    position: absolute;
    right: 90px;
    margin-top: 50px;
    background-color: aliceblue;
    font-size: 15px;
    padding: 5PX 20px;
    text-align: center;
    border: none;
    border-radius: 100px;
}
#Retour:hover
{
    background-color: black;
    color: aliceblue;
}
.a
{
    padding: 40PX;
    margin: 12px 70px;
    height: 33%;
    width: 40%;
    float: left;
    background-color :#f8fafc;
    border-radius: 10PX;
    text-align: center;
    font-size: 15px;
    font-weight:500;
    text-decoration: none;
    color:rgb(46, 56, 201);
    border: 2px solid black;
}
.a:hover
{
    transform: scale(1,1);
    background-color: #e1e4e6;
}
p{
    margin: 80PX 0 0 43%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#logo
{
    height: 60px;
    width: auto;
    margin-top: 0 0 0 0;
    left: 0;
    position: absolute;
}
#chef
{
    margin-left: 45%;
}
header img
{
    height: 80PX;
    align-items: center;
    left: 0%;
    LEFT: 10PX;
    position: absolute;
}