@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/technology');
@import url('http://fonts.cdnfonts.com/css/skuare');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  scroll-behavior: smooth;
}
.lfo9
{
  position:fixed;
  height: 60px;
  background-color:white;
  width: 100%;
  top: 0%;
  border-bottom:2PX solid black;
  z-index: 10;

}
ul{
  top: 0%;
  list-style: none;
  right: 0;
  margin-right: 5%;
  display: block;
  z-index: 9;
  position: absolute;
  background-color: transparent;
}
.choice
{
right: 0%;
}
ul li
{
  float: left;
  padding: 20px ;
  text-align: center;
  list-style: none;
  
}
ul li:hover ul
{
  display: block;

}
ul li a{
  text-decoration: none;
  font-size: 13px;
  text-align: center;
  padding: 10px;
  color:rgb(37, 37, 37);
  transition: 1.7 ease;

}
.lfo9 ul li a:hover
{
  border-bottom: solid  #1b7f9d 5Px;
  font-weight: bold;
  transition: 0.7s ease; 
}
a:hover{
  color :#1b7f9d;
}
ins li:hover
{
  background-color:rgb(236, 236, 236);
  color: #202020;
}
ul li ul li 
{
  float: none;
}
.ins
{
  background-color: #fff;
  font-weight: 300;
  width: auto;
  margin: 0;
  margin-top: 60px;
  float: none;
  display: none;
  z-index: 9;
}
.title a img
{
  height: 150PX;
  margin-top: 150PX;
  margin-left: 45%;
  text-decoration: none;
  position: absolute;
}

.img{
  background:url('background.png') no-repeat;
  /*background: url('https://d17v9ds8p1uxd3.cloudfront.net/img_analytics/mobile-header-p-1080.png')no-repeat;*/
  width: 100%;
  height: 800px;
  background-size:cover;
  background-position: center;
  margin-top: 60px;
  position:static;
  background-color: #1a1a1a5e;
}
.img p
{
  color: #fff;
  padding: 150PX 50PX ; 
  font-size: 40PX;
  font-weight: bold;
}
.center .title{
  color: #fff;
  font-size: 40px;
  font-weight: 600;
 }

.sub_title , .table ,#formIn
{
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 1%;
  margin:0 300px ;
  
}
footer{
  margin-top: 50PX;
  background-color: #1a1a1a;
  padding: 25px 100px;
  color:#828282;

}
footer .colonnes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  text-decoration: none;
}
#az{
  text-decoration: none;
  color:#828282;
}
#az a:hover{
  color:#ececec;
}
.table
{
  background-color: #82828227;
  position: static;
  display: block;
  background-size: cover;
  padding: 5% 10%;
  margin: 0;
}
#ESTO , .table h2 {
  text-align:center;
  color: #1b7f9d;
  margin:20PX 0  20px 0;
  font-size: 25PX;
  font-weight:350;
  word-spacing:10px;
}
h3 , #fomIn
{
  margin : 0 20%;
}
.table h3{
  color: #1b7f9d;
  font-size: 18PX;
  font-weight:300;
  word-spacing:10px;
  margin-bottom: 15PX;
  
}
 table
{
  background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
  
}	

th {
	background-color: #1b7f9d;
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
  PADDING:15PX;
}
td {
	border: 1px solid #fff;
	padding: 10px 15px;
	position: relative;
}

