@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 #deconnection
 {
      background-color: white;
      font-size: 15px;
      float :left ;
      padding: 10px;
      margin-left: 45%;
      text-align: center;
      border: none;
      border-radius: 50px;
      position: absolute;
      RIGHT: 10PX;
      border-style: solid;
      border-color: black;
      border-width: 1px;
      top:0;
 }
 #deconnection:hover
{
    background-color: rgba(181, 31, 31, 0.788);
    color: rgb(255, 255, 255);
}
  h2
  {
    margin-top: 50px;
    text-align: center;
    color: #232528;
  }
  #head
  {
    margin-top:50px;
    margin-bottom: 50px;
    background-color:#020202;
    padding:20px ;
    border-color: #232528;
    border-style: solid;
    border-width: 1px;
    display:grid;
    position:static ;
    z-index: 3;
    
  }

section
{
    margin: 5%;
    padding: 10px;
    align-items: center;
}

section input
{
    margin: 10px;
    height: 150PX;
    width: 400PX;
    background-image: linear-gradient(#007bff,#59a7fa);
    border: none;
    border-radius: 10PX;
    color: aliceblue;
    font-size:  15PX;
    align-items: stretch;
}
section input:hover
{
  background-image: linear-gradient(#007bff,#91b3d7);

}
#nom
{
  margin: 80PX 0 0 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-left: 5px solid;
  border-color: #2a4b9d;
  padding-left : 10PX;
}
head
{
  height: 20px;
  width: 100%;
  background-color: #020202;
}

